<!-- The binding data from componenet model to templatelike=>  [component] ="Model.variable" = template value  -->
<!-- (value)=""     eg-event-->
<div class="container">
  <!-- //method we call on the componenet on ngsubmit is used -->
    <form class="form" (ngSubmit)="signInUserFun()">
      <img class="logo" src="/assets/images/logo.png" />
      <div class="sign-in">Sign In</div>
      <div class="sub-text">to acquire awesome bots</div>
      <!-- two way data binding -->
      <!-- if we change the value of email  by typing input box on our form ,it will update credentials.email variable in componenet-->
      <!-- also if we were to update credentials.email property it will refelect on the text box input -->
      <!-- NgModel element needs a name property to the element thats how it find on the model -->
      
      <!-- Uses #emailInput="ngModel" to create a reference variable for validation purposes. -->
      <input name="email" #emailInput="ngModel" [(ngModel)] = "credentials.email" placeholder="Email Address" type="email" [email]="true" required />
      <!-- <em class="error" *ngIf="emailInput.touched && !emailInput.valid">Email is Required</em> -->
      <em class="error" *ngIf="emailInput.touched && emailInput.errors?.['required']">Email is Required</em> 
      <!-- inorder to check text input required attribute should be there -->
      <em class="error" *ngIf="emailInput.touched && emailInput.errors?.['email']">Please Input a correct email </em>
      <!-- inorder to check validity of email,  [email] should set to true -->



      <input name="password" #passwordInput = "ngModel" [(ngModel)] = "credentials.password" placeholder="Password" type="password" required />
      <em class="error" *ngIf="passwordInput.touched && !passwordInput.valid">Password is required</em>
      
      <div class="buttons">
        <button type="submit" class="button cta">
          Sign In
        </button>
      
      </div>
      <p class="signinError" *ngIf="signInError"> Something Wrong, Plz try again </p>
    </form>
  </div>